@import "/src/shared/styles/index.scss";

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  &__header {
    position: fixed;
  }

  &__content {
    width: 1240px;
    flex-grow: 1;
  }
}
