.catalog {
  &__button {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    &:hover {
      background-color: rgba($gray, 0.15);
    }
    & > * {
      margin: 0 10px;
    }
  }
  &__img-wrapper {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__img {
    width: 24px;
    height: 24px;
    fill: $green;

    &_isOpened {
      width: 16px;
      height: 16px;
    }
  }

  &__text {
    display: flex;
    align-content: center;
    flex-grow: 1;

    font-size: 20px;
    color: $green;
  }

  &__menu {
    position: sticky;
    width: 100px;
    height: 100px;
    background-color: red;
  }
}
